body{
    background-color: #f8de48;
   }

.Hi {
    font-family: century gothic;
    font-size: 35px;
    padding: 100px;
}

.Hi1 {
    font-family: century gothic;
    font-size: 25px;
    padding: 100px;
}

.DA {
    font-family: century gothic;
    font-size: 25px;
}

.D {
    font-family: cursive;
    font-size: 25px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: #fce980; 
    color: black; 
    border: 2px solid #4CAF50;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}

.button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

.button2:hover {
    background-color: #008CBA;
    color: white;
}

.button3 {
    background-color: white; 
    color: black; 
    border: 2px solid #f44336;
}

.button3:hover {
    background-color: #f44336;
    color: white;
}

.button4 {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}

.button4:hover {background-color: #e7e7e7;}

.button5 {
    margin-top: 4%;
    background-color: #f8de48;
    color: black;
    border: 2px solid #222222;
    margin: 100px;
}

.button5:hover {
    background-color: #222222;
    color: white;
}

.button55 {
    margin-top: 4%;
    background-color: #f8de48;
    color: black;
    border: 2px solid #222222;
}

.button55:hover {
    background-color: #222222;
    color: white;
}

.img {
    margin: 100px;
}